# Exports

export(dl.normalmeans)
export(hsplus.normalmeans)
export(nbp)
export(nbp.normalmeans)
export(nbp.VB)

# Imports

importFrom("Matrix", "chol", "chol2inv")
importFrom("stats", "coef", "var", "median", "quantile", "pnorm", "sd", "rgamma", "rnorm", "runif", "uniroot", "optimize", "qnorm")
importFrom("utils", "tail")
importFrom("truncnorm", "rtruncnorm")
importFrom("MASS", "mvrnorm")
importFrom("glmnet", "glmnet", "cv.glmnet")
importFrom("pracma", "quadinf")
importFrom("GIGrvg", "rgig")
importFrom("pscl", "rigamma")
importFrom("HyperbolicDist", "besselRatio")